In [ ]:
# @hidden_cell
# The project token is an authorization token that is used to access project resources like data sources, connections, and used by platform APIs.
from project_lib import Project
project = Project(project_id='8a1c4c9d-7b72-403a-819b-009104be5bcd', project_access_token='p-33a9fd738b694f965a83bfaa239d9eb4ec4e6570')
pc = project.project_context

In [ ]:
# Insira seu project token aqui

# MARATONA BEHIND THE CODE 2020

## DESAFIO 7 - TNT

<hr>

## Installing Libs

In [1]:
!pip install scikit-learn --upgrade

Requirement already up-to-date: scikit-learn in d:\program_files\anaconda3\lib\site-packages (0.23.2)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in d:\program_files\anaconda3\lib\site-packages (from scikit-learn) (0.14.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in d:\program_files\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in d:\program_files\anaconda3\lib\site-packages (from scikit-learn) (1.18.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in d:\program_files\anaconda3\lib\site-packages (from scikit-learn) (1.4.1)

In [2]:
!pip install xgboost --upgrade

Requirement already up-to-date: xgboost in d:\program_files\anaconda3\lib\site-packages (1.2.0)
Requirement already satisfied, skipping upgrade: scipy in d:\program_files\anaconda3\lib\site-packages (from xgboost) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy in d:\program_files\anaconda3\lib\site-packages (from xgboost) (1.18.1)

In [3]:
!pip install imblearn --upgrade

Requirement already up-to-date: imblearn in d:\program_files\anaconda3\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: imbalanced-learn in d:\program_files\anaconda3\lib\site-packages (from imblearn) (0.7.0)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.23 in d:\program_files\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.23.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in d:\program_files\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.18.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in d:\program_files\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in d:\program_files\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.14.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in d:\program_files\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn->imblearn) (2.1.0)

In [4]:
#ocultando mensagens de warning
import warnings
warnings.filterwarnings("ignore")

<hr>

## Download dos conjuntos de dados em formato .csv

In [5]:
import pandas as pd

In [6]:
df_data_1 = pd.read_csv('data/captura.csv')
df_data_1.tail()

,2018-4-14,Fradique Coutinho,-23.5661,-46.6841,34448,18,65,6,10,15,27,18.1,19,NORMAL,10184
93176,2019-6-28,Luz,-23.5365,-46.6332,127878,77,12,55,40,6,16,31,14,NORMAL,11338
93177,2019-7-15,Luz,-23.5365,-46.6332,126558,86,35,11,32,19,8,3,25,NORMAL,11355
93178,2019-7-17,Luz,-23.5365,-46.6332,126902,66,24,65,22,11,43,41,17,NORMAL,11357
93179,2019-2-30,Faria Lima,-23.5675,-46.6929,53455,19,56,11,21,7,5,24,5,REABASTECER,8340
93180,2019-7-20,Luz,-23.5365,-46.6332,124823,38,10,42,11,43,36,25,6,NORMAL,11360

In [7]:
df_data_1.columns = (['Tempo', 'Estação', 'LAT', 'LONG', 'Movimentação','Original_473', 
                                                        'Original_269', 'Zero','Maçã-Verde', 'Tangerina' , 'Citrus', 
                                                        'Açaí-Guaraná', 'Pêssego',  'TARGET', 'row'])
df_data_1.tail()

,Tempo,Estação,LAT,LONG,Movimentação,Original_473,Original_269,Zero,Maçã-Verde,Tangerina,Citrus,Açaí-Guaraná,Pêssego,TARGET,row
93176,2019-6-28,Luz,-23.5365,-46.6332,127878,77,12,55,40,6,16,31,14,NORMAL,11338
93177,2019-7-15,Luz,-23.5365,-46.6332,126558,86,35,11,32,19,8,3,25,NORMAL,11355
93178,2019-7-17,Luz,-23.5365,-46.6332,126902,66,24,65,22,11,43,41,17,NORMAL,11357
93179,2019-2-30,Faria Lima,-23.5675,-46.6929,53455,19,56,11,21,7,5,24,5,REABASTECER,8340
93180,2019-7-20,Luz,-23.5365,-46.6332,124823,38,10,42,11,43,36,25,6,NORMAL,11360

In [8]:
df_training_dataset = df_data_1
df_training_dataset.tail()

,Tempo,Estação,LAT,LONG,Movimentação,Original_473,Original_269,Zero,Maçã-Verde,Tangerina,Citrus,Açaí-Guaraná,Pêssego,TARGET,row
93176,2019-6-28,Luz,-23.5365,-46.6332,127878,77,12,55,40,6,16,31,14,NORMAL,11338
93177,2019-7-15,Luz,-23.5365,-46.6332,126558,86,35,11,32,19,8,3,25,NORMAL,11355
93178,2019-7-17,Luz,-23.5365,-46.6332,126902,66,24,65,22,11,43,41,17,NORMAL,11357
93179,2019-2-30,Faria Lima,-23.5675,-46.6929,53455,19,56,11,21,7,5,24,5,REABASTECER,8340
93180,2019-7-20,Luz,-23.5365,-46.6332,124823,38,10,42,11,43,36,25,6,NORMAL,11360

In [9]:
df_training_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93181 entries, 0 to 93180
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tempo         93181 non-null  object
 1   Estação       93181 non-null  object
 2   LAT           93181 non-null  float64
 3   LONG          93181 non-null  float64
 4   Movimentação  93181 non-null  int64
 5   Original_473  93181 non-null  int64
 6   Original_269  93181 non-null  int64
 7   Zero          93181 non-null  int64
 8   Maçã-Verde    93181 non-null  int64
 9   Tangerina     93181 non-null  int64
 10  Citrus        93181 non-null  int64
 11  Açaí-Guaraná  93181 non-null  int64
 12  Pêssego       93181 non-null  int64
 13  TARGET        93181 non-null  object
 14  row           93181 non-null  int64
dtypes: float64(2), int64(10), object(3)
memory usage: 10.7+ MB

In [10]:
df_training_dataset.nunique()

Tempo             720
Estação            25
LAT                25
LONG               25
Movimentação    14827
Original_473       81
Original_269       65
Zero               63
Maçã-Verde         43
Tangerina          42
Citrus             43
Açaí-Guaraná       42
Pêssego            42
TARGET              2
row             16957
dtype: int64

In [ ]:
df_training_dataset.describe()

<hr>

## Detalhamento do desafio: classificação binária

Este é um desafio cujo objetivo de negócio é a segmentação dos usuários de aplicativo de um banco. Para tal, podemos utilizar duas abordagens: aprendizado de máquina supervisionado (classificação) ou não-supervisionado (clustering). Neste desafio será aplicada a classificação, pois é disponível um dataset já com "labels", ou em outras palavras, já com exemplos de dados juntamente com a variável alvo.

Na biblioteca scikit-learn temos diversos algoritmos para classificação. O participante é livre para utilizar o framework que desejar para completar esse desafio.

Neste notebook será mostrado um exeplo de uso do algoritmo "Decision Tree" para classificar parte dos estudantes em seis diferentes perfís.

# Atenção!

A coluna-alvo neste desafio é a coluna ``TARGET``

## Pre-processando o dataset antes do treinamento

### Processando valores NaN com o SimpleImputer do sklearn

Para os valores NaN, usaremos a substituição pela constante 0 como **exemplo**.

Você pode escolher a estratégia que achar melhor para tratar os valores nulos :)

Docs: https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html?highlight=simpleimputer#sklearn.impute.SimpleImputer

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np


impute_zeros = SimpleImputer(
    missing_values=np.nan,
    strategy='most_frequent',
    fill_value=0,
    verbose=0,
    copy=True
)

In [ ]:
# Exibindo os dados ausentes do conjunto de dados antes da primeira transformação (df)
print("Valores nulos no df_training_dataset antes da transformação SimpleImputer: \n\n{}\n".format(df_training_dataset.isnull().sum(axis = 0)))

# Aplicando a transformação ``SimpleImputer`` no conjunto de dados base
impute_zeros.fit(X=df_training_dataset)

# Reconstruindo um Pandas DataFrame com os resultados
df_training_dataset_imputed = pd.DataFrame.from_records(
    data=impute_zeros.transform(
        X=df_training_dataset
    ),
    columns=df_training_dataset.columns
)

# Exibindo os dados ausentes do conjunto de dados após a primeira transformação (df)
print("Valores nulos no df_training_dataset após a transformação SimpleImputer: \n\n{}\n".format(df_training_dataset_imputed.isnull().sum(axis = 0)))

### Eliminando colunas indesejadas

Vamos **demonstrar** abaixo como usar o método **DataFrame.drop()**.

Docs: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [ ]:
df_training_dataset_imputed.tail()

In [ ]:
df_training_dataset_rmcolumns = df_training_dataset_imputed.drop(columns=[ 'Tempo', 'LAT', 'LONG', 'Movimentação', 'Estação', 'row'], inplace=False)

In [ ]:
df_training_dataset_rmcolumns.tail()

# Atenção!

As colunas removidas acima são apenas para fim de exemplo, você pode usar as colunas que quiser e inclusive criar novas colunas com dados que achar importantes!

### Tratamento de de variáveis categóricas

Como mencionado antes, os computadores não são bons com variáveis "categóricas" (ou strings).

Dado uma coluna com variável categórica, o que podemos realizar é a codificação dessa coluna em múltiplas colunas contendo variáveis binárias. Esse processo é chamado de "one-hot-encoding" ou "dummy encoding". Se você não é familiarizado com esses termos, você pode pesquisar mais sobre isso na internet :)

In [ ]:
# Tratando variáveis categóricas com o método Pandas ``get_dummies()''
#df_training = pd.get_dummies(df_training_dataset_rmcolumns, columns=['Estação'])
df_training = df_training_dataset_rmcolumns
df_training.tail()

# Atenção!

A coluna **TARGET** deve ser mantida como uma string. Você não precisa processar/codificar a variável-alvo.

<hr>

## Treinando um classificador com base em uma árvore de decisão

### Selecionando FEATURES e definindo a variável TARGET

In [ ]:
df_training.columns

In [ ]:
features = df_training[
    [
        
    'Original_473', 'Original_269', 'Zero', 'Maçã-Verde', 'Tangerina',
       'Citrus', 'Açaí-Guaraná', 'Pêssego'
    ]
    
]
target = df_training['TARGET']  ## NÃO TROQUE O NOME DA VARIÁVEL TARGET.

### Dividindo nosso conjunto de dados em conjuntos de treinamento e teste

In [ ]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=133)

## Escolhendo o melhor modelo

In [ ]:
# Import dos módulos
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
#from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier
#from sklearn.naive_bayes import GaussianNB
#from sklearn.svm import SVC
#from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import ExtraTreesClassifier
#from sklearn.ensemble import GradientBoostingClassifier
#from sklearn.ensemble import AdaBoostClassifier
from sklearn.neural_network import MLPClassifier


# Carregando features e Target
X = features
Y = target

# Definindo os valores para o número de folds
num_folds = 5
seed = 7


# Preparando a lista de modelos
modelos = []
#modelos.append(('LR', LogisticRegression()))
#modelos.append(('LDA', LinearDiscriminantAnalysis()))
#modelos.append(('SVM', SVC()))
#modelos.append(('NB', GaussianNB()))
#modelos.append(('KNN', KNeighborsClassifier()))

modelos.append(('RanF', RandomForestClassifier(bootstrap=False, max_depth=30, max_features='log2',
                        min_samples_split=10, min_weight_fraction_leaf=0,
                        n_estimators=50, warm_start=True)))

#modelos.append(('SGD', SGDClassifier()))
#modelos.append(('ExtraTree', ExtraTreesClassifier()))
#modelos.append(('GBoost', GradientBoostingClassifier()))
#modelos.append(('AdaBoost', AdaBoostClassifier()))
#modelos.append(('DesTree', DecisionTreeClassifier()))
modelos.append(('MLP', MLPClassifier(hidden_layer_sizes=(50,50 ), activation='logistic', solver='adam', alpha=0.0001)))

# Avaliando cada modelo em um loop
resultados = []
nomes = []

for nome, modelo in modelos:
    kfold = KFold(n_splits = num_folds, random_state = seed)
    cv_results = cross_val_score(modelo, X, Y, cv = kfold, scoring = 'accuracy')
    resultados.append(cv_results)
    nomes.append(nome)
    msg = "%s: %f (%f)" % (nome, cv_results.mean(), cv_results.std())
    print(msg)


# Boxplot para comparar os algoritmos
fig = plt.figure()
fig.suptitle('Comparação de Algoritmos de Classificação')
ax = fig.add_subplot(111)
plt.boxplot(resultados)
ax.set_xticklabels(nomes)
plt.show()

### Escolhendo os melhores parâmetros do modelo acima selecionado

In [ ]:
# Import dos módulos

import numpy as np
from scipy.stats import uniform
from sklearn.linear_model import Ridge
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier

# Separando o array em componentes de input e output
X = features
Y = target

# Definindo os valores que serão testados
valores_grid = {'n_estimators' :(2,5,7,10,50), 'criterion':('gini','entropy'), 'max_depth':(3,5,10,15,25,30),
                'min_samples_split':(2,4,7,10), 'min_weight_fraction_leaf': (0, 0.1, 0.001,0.05, 0.5), 
                'max_features':('auto', 'sqrt', 'log2'), 'bootstrap': (True,False),   
                'warm_start':(False, True), }
seed = 7

# Criando o modelo
modelo = RandomForestClassifier()
iterations = 200
rsearch = MLPClassifier(hidden_layer_sizes=(50,50 ), activation='logistic', solver='adam', alpha=0.0001)))
rsearch.fit(X, Y)

# Print do resultado
print("Melhores Parâmetros do Modelo:\n", rsearch.best_estimator_)

### Treinando um modelo de aprendizado supervisionado

In [ ]:
# Método para criar ensemble com Gradiente boosting Classifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

dtc = MLPClassifier(hidden_layer_sizes=(100,200,300,200,100),activation='relu', solver='adam',
                    alpha=0.0001, max_iter=500).fit(X_train, y_train)


#dtc = RandomForestClassifier(bootstrap=False, max_depth=30, max_features='log2',
                       #min_samples_split=10, min_weight_fraction_leaf=0,
                       #n_estimators=50, warm_start=True).fit(X_train, y_train)

### Fazendo previsões na amostra de teste

In [ ]:
y_pred = dtc.predict(X_test)
print(y_pred)

### Analisando a qualidade do modelo através da matriz de confusão

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import itertools


def plot_confusion_matrix(cm, target_names, title='Confusion matrix', cmap=None, normalize=True):
    accuracy = np.trace(cm) / float(np.sum(cm))
    misclass = 1 - accuracy
    if cmap is None:
        cmap = plt.get_cmap('Blues')
    plt.figure(figsize=(8, 6))
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    if target_names is not None:
        tick_marks = np.arange(len(target_names))
        plt.xticks(tick_marks, target_names, rotation=45)
        plt.yticks(tick_marks, target_names)
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
    thresh = cm.max() / 1.5 if normalize else cm.max() / 2
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        if normalize:
            plt.text(j, i, "{:0.2f}".format(cm[i, j]),
                     horizontalalignment="center",
                     color="white" if cm[i, j] > thresh else "black")
        else:
            plt.text(j, i, "{:,}".format(cm[i, j]),
                     horizontalalignment="center",
                     color="white" if cm[i, j] > thresh else "black")
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label\naccuracy={:0.4f}; misclass={:0.4f}'.format(accuracy, misclass))
    plt.show()

In [ ]:
from sklearn.metrics import confusion_matrix


plot_confusion_matrix(confusion_matrix(y_test, y_pred), ['NORMAL', 'REABASTECER'])

<hr>

## Scoring dos dados necessários para entregar a solução

Como entrega da sua solução, esperamos os resultados classificados no seguinte dataset chamado "to_be_scored.csv":

### Download da "folha de respostas"

In [ ]:
#!wget --no-check-certificate --content-disposition https://gitlab.com/JoaoPedroPP/datasets/-/raw/master/ntn/to_be_scored.csv
df_to_be_scored = pd.read_csv('./data/to_be_scored.csv')
df_to_be_scored.tail()

# Atenção!

O dataframe ``to_be_scored`` é a sua "folha de respostas". Note que a coluna "TARGET" não existe nessa amostra, que não pode ser então utilizada para treino de modelos de aprendizado supervisionado.

In [ ]:
df_to_be_scored.info()

<hr>

# Atenção!

# Para poder aplicar seu modelo e classificar a folha de respostas, você precisa primeiro aplicar as mesmas transformações com colunas que você aplicou no dataset de treino.

# Não remova ou adicione linhas na folha de respostas. 

# Não altere a ordem das linhas na folha de respostas.

# Ao final, as 1000 entradas devem estar classificadas, com os valores previstos em uma coluna chamada "target"

<hr>

Na célula abaixo, repetimos rapidamente os mesmos passos de pré-processamento usados no exemplo dado com árvore de decisão

In [ ]:
# 1 - Removendo linhas com valores NaN
df_to_be_scored_1 = df_to_be_scored.dropna(axis='index', how='any', subset=['Tempo', 'Estação', 'LAT', 'LONG', 'Movimentação', 'Original_473', 'Original_269', 'Zero', 'Maçã-Verde', 'Tangerina', 'Citrus', 'Açaí-Guaraná', 'Pêssego'])

# 2 - Inputando zeros nos valores faltantes
impute_zeros.fit(X=df_to_be_scored_1)
df_to_be_scored_2 = pd.DataFrame.from_records(
    data=impute_zeros.transform(
        X=df_to_be_scored_1
    ),
    columns=df_to_be_scored_1.columns
)

# 3 - Remoção de colunas
df_to_be_scored_3 = df_to_be_scored_2.drop(columns=['Tempo', 'LAT', 'LONG', 'Movimentação', 'Estação'], inplace=False)

# 4 - Encoding com "dummy variables" (se necessário)
# df_to_be_scored_4 = pd.get_dummies(df_to_be_scored_3, columns=['Váriavel com dummy'])
df_to_be_scored_4 = df_to_be_scored_3

df_to_be_scored_4.tail()

<hr>

Pode ser verificado abaixo que as colunas da folha de resposta agora são idênticas às que foram usadas para treinar o modelo:

In [ ]:
df_training[
    [
         'Original_473', 'Original_269', 'Zero', 'Maçã-Verde', 'Tangerina',
       'Citrus', 'Açaí-Guaraná', 'Pêssego'
    ]
].columns

In [ ]:
df_to_be_scored_4.columns

# Atenção

Para todas colunas que não existirem no "df_to_be_scored", você pode usar a técnica abaixo para adicioná-las:

In [ ]:
y_pred = dtc.predict(df_to_be_scored_4)
df_to_be_scored_4['TARGET'] = y_pred
df_to_be_scored_4.tail()

### Salvando a folha de respostas como um arquivo .csv para ser submetido

In [ ]:
#project.save_data(file_name="results.csv", data=df_to_be_scored_4.to_csv(index=False))

data=df_to_be_scored_4.to_csv("results.csv")

# Atenção

# A execução da célula acima irá criar um novo "data asset" no seu projeto no Watson Studio. Você precisará realizar o download deste arquivo juntamente com este notebook e criar um arquivo zip com os arquivos **results.csv** e **notebook.ipynb** para submissão. (os arquivos devem estar nomeados desta forma)

<hr>

## Parabéns!

Se você já está satisfeito com a sua solução, vá até a página abaixo e envie os arquivos necessários para submissão.

# https://tnt.maratona.dev